.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
}
.movie-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;
}
.movie-content__poster {
    flex: 1 1;
}
.movie-content__poster__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding-top: 165%;
}
.movie-content__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;
}
.movie-content__info .title {
    font-size: 4rem;
    line-height: 1;
}
.movie-content__info .genres__item {
    padding: 0.5rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #0f0f0f;
}
.movie-content__info > * {
    margin-bottom: 2rem;
}
.movie__voteCount {
  margin-left: 1rem;
}

@media only screen and (max-width: 1024px){

  .movie-content__poster {
    flex: 0;
  }

  .movie-content__info .title {
    font-size: 2rem;
    line-height: 1;
}
.movie-content__info {
    width: 100%;
    padding: 0;
    
}
.movie-content {
  padding: 0 1rem;

}
.movie-content__info .genres__item {
    padding: 0.2rem 0.5rem;
    
    font-size: 0.7rem;
    
    margin: 2px;
}
.overview{
  font-size:15px;
}

}















/* 
.movie {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__intro {
  width: 100%;
  position: relative;
  filter: blur(3px);
}

.movie__backdrop {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0 35%;
}

.movie__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 225px;
}

.movie__detailLeft {
  margin-right: 30px;
}

.movie__poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.movie__detailRightTop > div {
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: 0.5rem;
}

.movie__name {
  font-weight: 600;
  font-size: 3rem;
}

.movie__voteCount {
  margin-left: 1rem;
}

.movie__genres {
  margin: 1.25rem 0;
}

.movie__genre {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 1rem;
}

.movie__detailRightBottom {
  margin: 2rem 0;
  flex: 0.8;
}

.synopsisText {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}
.synopsisText > div:last-of-type {
  margin-left: auto;
} */
