.footer {
    position: relative;
    margin-top: 50px;
    padding: 6rem 2rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer__content {
    max-width: 1000px;
}
.footer__content__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: unset;
}
.logo img {
    margin-right: 10px;
    width: 200px;
}
.footer__content__menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer__content__menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover{
    color: #ff0000;
}
.footer__content__menu > * ~ * {
    margin-top: 1rem;
}

@media only screen and (max-width: 600px){
.footer__content__menu {
    font-size: 1rem;
}

.footer__content__logo {
    margin-bottom: 1rem;
}

.footer{
    padding: 3rem 1rem;
}

.logo img{
    width: 133px;
}

}

